# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LimitedSizeStack.iml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\LimitedSizeStack.csproj\.idea\.idea.LimitedSizeStack.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
